.slider {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 80.5%;
	width:200px;
	margin-left: 150px;
}
.slider2 {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size:12px;
	width:200px;
	margin-left: 150px;
}
